absl-py==0.8.1
astor==0.8.0
astroid==2.2.5
backcall==0.1.0
beautifulsoup4==4.8.1
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
coreapi==2.3.3
coreschema==0.0.4
decorator==4.4.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.8
django-allauth==0.40.0
django-bootstrap4==1.0.1
django-cors-headers==3.2.0
django-extensions==2.2.1
django-heroku==0.3.1
django-rest-auth==0.9.5
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
drf-yasg==1.17.0
gast==0.2.2
google-auth==1.6.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
grpcio==1.24.3
gunicorn==20.0.3
h5py==2.10.0
idna==2.8
inflection==0.3.1
ipython==7.8.0
ipython-genutils==0.2.0
isort==4.3.21
itypes==1.1.0
jedi==0.15.1
Jinja2==2.10.3
lazy-object-proxy==1.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.17.3
oauthlib==3.1.0
opt-einsum==3.1.0
packaging==19.2
parso==0.5.1
pickleshare==0.7.5
Pillow==6.1.0
prompt-toolkit==2.0.10
protobuf==3.10.0
psycopg2==2.8.4
pyasn1==0.4.7
pyasn1-modules==0.2.7
Pygments==2.4.2
PyJWT==1.7.1
pylint==2.3.1
pyparsing==2.4.2
python-decouple==3.1
python3-openid==3.1.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
rope==0.14.0
rsa==4.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
six==1.12.0
soupsieve==1.9.4
sqlparse==0.3.0
termcolor==1.1.0
traitlets==4.3.3
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.25.3
wcwidth==0.1.7
Werkzeug==0.16.0
whitenoise==4.1.4
wrapt==1.11.2
